.u-font-family--MedievalSharp {
  font-family: var(--base-font-family) !important;
}

.u-font-family--noto {
  font-family: var(--alternative-font-family) !important;
}

.u-font-family--emoji {
  font-family: var(--emoji-font-family) !important;
}

.u-text--s {
  font-size: var(--size--s) !important;
}

.u-text--xs {
  font-size: var(--size--xs) !important;
}

.u-text-italic {
  font-style: italic !important;
}
